<article class="profile">

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<!-- About - List of inputs -->
				<section class="box">

					<header class="box-header">
						About
					</header>

					<form class="box-content form form-horizontal xl-2-and-10 l-2-and-10 ltl-12-and-0">

						<label class="form-field">
							<span class="label">Completed</span>
							<span class="input placeholder">
								541
							</span>
						</label>

						<label class="form-field">
							<span class="label">Pending</span>
							<span class="input placeholder">
								$20,390
							</span>
						</label>

						<label class="form-field">
							<span class="label">This Month</span>
							<span class="input placeholder">
								$3,120
							</span>
						</label>

						<label class="form-field">
							<span class="label">This Year</span>
							<span class="input placeholder">
								$5,340
							</span>
						</label>

						<label class="form-field">
							<span class="label">Leading Donor</span>
							<span class="input placeholder">
								Mike Lindell
							</span>
						</label>

					</form>

				</section>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Review Donations
						<a href="#" class="btn btn-secondary abs-right center-y open-overlay">Search</a>
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-15">
							<col class="w-20">
							<col class="w-15">
							<col class="w-20">
							<col class="w-15">
							<col class="w-15">
						</colgroup>

						<thead>
							<tr>
								<th>
									Date
								</th>
								<th>
									Donor
								</th>
								<th>
									Amount
								</th>
								<th>
									Method
								</th>
								<th>
									Match
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>
									10/20/2015
								</td>
								<td>
									<a href="/dor/donations/1">Tyler Henke</a>
								</td>
								<td>
									$400
								</td>
								<td>
									Credit Card
								</td>
								<td>
									Yes
								</td>
								<td>
									Pledged
								</td>
							</tr>

							<tr>
								<td>
									10/20/2015
								</td>
								<td>
									<a href="/dor/donations/1">Tim Henke</a>
								</td>
								<td>
									$200
								</td>
								<td>
									Credit Card
								</td>
								<td>
									No
								</td>
								<td>
									Processed
								</td>
							</tr>

						</tbody>

						<tfoot>
							<tr>
								<td colspan="6" class="view-more">
									<a href="#">View more results</a>
								</td>
							</tr>
						</tfoot>

					</table>

				</div>

			</section>

			<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Confirmed Donations
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-15">
							<col class="w-20">
							<col class="w-15">
							<col class="w-20">
							<col class="w-15">
							<col class="w-15">
						</colgroup>

						<thead>
							<tr>
								<th>
									Date
								</th>
								<th>
									Donor
								</th>
								<th>
									Amount
								</th>
								<th>
									Method
								</th>
								<th>
									Match
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>
									10/20/2015
								</td>
								<td>
									<a href="#">Tyler Henke</a>
								</td>
								<td>
									$400
								</td>
								<td>
									Credit Card
								</td>
								<td>
									Yes
								</td>
								<td>
									Pledged
								</td>
							</tr>

							<tr>
								<td>
									10/20/2015
								</td>
								<td>
									<a href="#">Tim Henke</a>
								</td>
								<td>
									$200
								</td>
								<td>
									Credit Card
								</td>
								<td>
									No
								</td>
								<td>
									Processed
								</td>
							</tr>

						</tbody>

						<tfoot>
							<tr>
								<td colspan="6" class="view-more">
									<a href="#">View more results</a>
								</td>
							</tr>
						</tfoot>

					</table>

				</div>

			</section>

		</div>

	</div>

</div>

</article>

<div class="overlay" style="display:none;">

	<%= render 'shared/close_overlay' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-8 l-8 ltl-12 center-x">

				<%= form_tag "#", :class => "box form form-normal" do |f| %>

				<div class="box-header">
					Search
				</div>

				<div class="box-content">

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">ID</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">SGO</span>
							<div class="select">
								<select class="input" id="school_type_id" name="school_type_id">
									<option value="1">IQE</option>
									<option value="1">Sagamore</option>
								</select>
							</div>
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Donor Name</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Date</span>
							<input type="text" class="input">
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">TCCN</span>
							<input type="text" class="input" placeholder="XX-XXX-XXX">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Amount</span>
							<input type="text" class="input">
						</label>

					</div>

					<hr>

					<%= submit_tag "Submit", :class => "btn btn-secondary btn-block" %>

				</div>

				<% end %>

			</div>

		</div>

	</div>

</div>


