<article class="citizen profile">

	<div class="wrapper">

		<div class="grid">

			<!-- User name and image -->
			<div class="xl-4 l-4 ltl-12">

				<section class="box">

					<div class="shadowed-image">
						<img src="https://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=240x240">
						<div class="caption">
							Curt Merlau
							<br>
							<small>Concerned Citizen</small>
						</div>
					</div>

					<div class="score box-content">
						<div class="stars" data-score="80"></div>
						<div class="copy">(80%)</div>
					</div>

				</section>

				<button class="btn btn-secondary btn-block">Send Message</button>

			</div>

			<!-- User info -->
			<div class="xl-8 l-8 ltl-12">

				<!-- About - List of inputs -->
				<section class="box">

					<header class="box-header">
						About
					</header>

					<form class="box-content form form-horizontal xl-5-and-7 l-5-and-7 ltl-12-and-0">

						<label class="form-field">
							<span class="label">SSN</span>
							<span class="input placeholder">
								XXX-XX-2019
							</span>
						</label>

						<label class="form-field">
							<span class="label">Primary Address</span>
							<span class="input placeholder">
								1310 S Cobble Creek Cir<br>
								Bloomington, IN 47401
							</span>
						</label>

						<label class="form-field">
							<span class="label">Phone</span>
							<span class="input placeholder">
								(812) 320-7543
							</span>
						</label>

						<label class="form-field">
							<span class="label">Email</span>
							<span class="input placeholder">
								tyler@sid3car.com
							</span>
						</label>

						<label class="form-field">
							<span class="label">Tax Credit Certification</span>
							<span class="input placeholder">
								Yes
							</span>
						</label>

						<label class="form-field">
							<span class="label">Certification Number</span>
							<span class="input placeholder">
								00129029
							</span>
						</label>

					</form>

				</section>

				<!-- Donation History -->
				<section class="box xl-12 ltxl-12">

          <header class="box-header">
            Donation History
          </header>

          <div class="table-responsive">

            <table class="box-content table">

            <colgroup>
              <col class="w-15">
              <col class="w-15">
              <col class="w-20">
              <col class="w-50">
            </colgroup>

            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Amount
                </th>
                <th>
                  Method
                </th>
                <th>
                  Date
                </th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <td>
                  <%= link_to("0012012", "#") %>
                </td>
                <td>
                  $300
                </td>
                <td>
                 	Credit Card
                </td>
                <td>
                   10/22/2014
                </td>
              </tr>

            </tbody>

          </table>

        </div>

      </section>

				<!-- Notes - Content items with a large textarea at the bottom -->
				<section class="box">

					<header class="box-header">
						Notes
					</header>

					<div class="box-content">

						<div class="box-items">

							<div class="box-item">

								<h3 class="title">
									<a href="#">Tyler Henke</a>
									<time datetime="2014-11-20">on 11/20/2014</time>
								</h3>

								<p>
									Quas illum officiis similique sed excepturi porro omnis fugiat quibusdam totam vitae eum. Cumque eaque sint eius ratione maiores earum. Quis ipsa voluptatem sunt cupiditate occaecati distinctio. Labore magnam dignissimos laudantium architecto quisquam dolores. Asperiores labore ducimus iusto mollitia. Aut veniam quis quia et error voluptate voluptatem eaque. Quaerat numquam maxime deserunt adipisci. Et facilis saepe est consequatur blanditiis quam et accusantium.
								</p>

							</div>

							<div class="box-item">

								<h3 class="title">
									<a href="#">Forrest Fowler</a>
									<time datetime="2014-11-21">on 11/21/2014</time>
								</h3>

								<p>
									Ipsa rem itaque impedit aperiam suscipit assumenda quam nesciunt. Eum delectus libero laboriosam voluptates quas dolorem consequatur beatae. Dolor ex et qui sequi eveniet. In iste aperiam aut velit praesentium. Non dolorum rerum suscipit aut sunt. Nisi repellendus ut repudiandae voluptatem culpa molestiae.
								</p>

								<div class="attachments">
									<a href="#" class="attachment attachment-image">Profile_final.png</a>
								</div>

							</div>

						</div>

					</div>

					<form class="form form-alt box-content-form">
						<textarea class="input textarea textarea-block"></textarea>
						<button class="btn btn-secondary btn-block">Post Private Note</button>
					</form>

				</section>

			</div>

		</div>

	</div>

</article>