<div class="grid">
	<div class="xl-4 l-4 ltl-12">
		<label class="form-field">
			<span class="label">Donor Type</span>
			<div class="select">
				<select class="input" id="school_type_id" name="school_type_id">
					<option>- Select type -</option>
					<option value="1">Parent</option>
					<option value="2">Concerned Citizen</option>
				</select>
			</div>
		</label>
	</div>
</div>

<hr>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Email</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Password</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Password Confirmation</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
</div>

<hr>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">First Name</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Last Name</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Middle Initial</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">SSN</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Street Address</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-2 l-2 ltl-12">
		<label class="form-field">
			<span class="label">Apt #</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">City</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-2 l-2 ltl-12">
		<label class="form-field">
			<span class="label">State</span>
			<div class="select">
				<select class="input" id="school_type_id" name="school_type_id">
					<option value="1">IN</option>
				</select>
			</div>
		</label>
	</div>
	<div class="xl-3 l-3 ltl-12">
		<label class="form-field">
			<span class="label">ZIP Code</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
</div>

<hr>

<div class="grid">
	<div class="xl-4 l-4 ltl-12">
		<label class="form-field">
			<span class="label">Amount</span>
			<input class="input" id="name" name="name" type="text" placeholder="$">
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-4 l-4 ltl-12">
		<label class="form-field">
			<span class="label">Fund Designation</span>
			<div class="select">
				<select class="input" id="school_type_id" name="school_type_id">
					<option value="1">Lakeview Elementary</option>
				</select>
			</div>
		</label>
	</div>
	<div class="xl-2 l-2 ltl-12">
		<label class="form-field">
			<span class="label">&nbsp;</span>
			<input class="input" id="name" name="name" type="text" placeholder="%">
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-12 l-12 ltl-12">
		<label class="form-field">
			<input type="checkbox" name="cooperative" value="1">
			<span class="display-box"></span>
			<span class="text">Apply all to general fund?</span>
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-4 l-4 ltl-12">
		<label class="form-field">
			<span class="label">Will the funds be matched?</span>
			<div class="select">
				<select class="input" id="school_type_id" name="school_type_id">
					<option value="1">No</option>
					<option value="1">Yes</option>
				</select>
			</div>
		</label>
	</div>
</div>

<hr>

<div class="grid">
	<div class="xl-4 l-4 ltl-12">
		<label class="form-field">
			<span class="label">Payment Type</span>
			<div class="select">
				<select class="input" id="school_type_id" name="school_type_id">
					<option value="1">Credit Card</option>
				</select>
			</div>
		</label>
	</div>
	<div class="xl-2 l-2 ltl-12">
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Card Number</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
	<div class="xl-3 l-3 ltl-12">
		<label class="form-field">
			<span class="label">Expiration Date</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-2 l-2 ltl-12">
		<label class="form-field">
			<span class="label">Security Code</span>
			<input class="input" id="name" name="name" type="text">
		</label>
	</div>
</div>

<hr>

<%= submit_tag "Submit Payment", :class => "btn btn-secondary btn-block" %>