<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">First Name</span>
			<%= f.text_field :first_name, :class => "input" %>
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Last Name</span>
			<%= f.text_field :last_name, :class => "input" %>
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-4 l-4 ltl-12">
		<label class="form-field">
			<span class="label">Birthday</span>
			<%= f.date_select :dob, {:start_year => Date.today.year, :end_year => Date.today.year - 100, :order => [:month, :day, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year'}}, {:class => "input"} %>
		</label>
	</div>
</div>

<hr>

<%= f.submit "Save Child", :class => "btn btn-secondary btn-block" %>