<article class="citizen profile">
	
	<%= render 'shared/back_header', :c => "Children", :l => children_path %>

	<div class="wrapper">

		<div class="grid">

			<!-- User info -->
			<div class="xl-12 l-12 ltl-12">

				<%= form_for @child, :url => "#", :html => {:class => "box form form-normal"} do |f| %>

				<div class="box-header">
					Add Child
				</div>

				<div class="box-content narrow">

					<%= render 'form_fields', :f => f %>

				</div>

				<% end %>

			</div>

		</div>

	</div>

</article>