<article class="citizen profile">

	<div class="wrapper">

		<div class="grid">

			<!-- User info -->
			<div class="xl-12 l-12 ltl-12">

				<form accept-charset="UTF-8" action="/schools" class="box form form-normal" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>

					<div class="box-header">
						Add Child
					</div>

					<div class="box-content narrow">

						<%= render 'form_fields' %>

					</div>

				</form>

			</div>

		</div>

	</div>

</article>