<header>

	<section class="secondary ltl-hide">

		<div class="wrapper clearfix">

			<%= link_to("« Back to #{c}", l, :class => "btn btn-alt pull-left") %>

			<nav class="nav-inline nav-alt pull-right">
				<ul>
					<li>
						<a><%= Date.today.strftime("%A, %B %d") %></a>
					</li>
				</ul>
			</nav>

		</div>

	</section>

</header>