<header>

	<section class="tabs">

		<div class="wrapper clearfix">

			<nav class="nav-inline nav-tabs pull-right">
				<ul>
					<%= nav_link("Sign In", new_user_session_path) %>
					<%= nav_link("Create an Account", new_user_registration_path) %>
					<li>
						<a href="http://i4qed.org">IQE Homepage</a>
					</li>
					<li>
						<%= link_to("Help", "#") %>
					</li>
				</ul>

			</nav>

		</div>

	</section>

</header>