<a href="#" class="close">
</a>
<script type="text/javascript">
	$(".overlay .close").click(function(e){
		$(".overlay").hide();
		e.preventDefault();
	});	

	$(".open-overlay").click(function(e){
		$(".overlay").show();
		e.preventDefault();
	});	
</script>