<header>

	<section class="tabs">

		<div class="wrapper clearfix">

			<nav class="nav-inline nav-tabs">
				<ul>
					<%= nav_link("Home", sgo_root_path) %>
					<%= nav_link("Applications", sgo_applications_path) %>
				</ul>
			</nav>
		</div>

	</section>

</header>