<header>

	<section class="tabs">

		<div class="wrapper clearfix">

			<nav class="nav-inline nav-tabs">
				<ul>
					<%= nav_link("Home", school_root_path) %>
					<%= nav_link("Applications", applications_school_path(@school)) %>
				</ul>
			</nav>
		</div>

	</section>

</header>