<article class="profile">

	<%= render 'tab_navigation' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box">

					<div class="box-header">
						Instructions
					</div>

					<div class="box-content">

						<div class="box-items">

							<div class="box-item">
								<h3 class="title">Getting Started</h3>
								<p>
									Welcome to the Institute for Quality Education’s Scholarship Granting Organization Administration System (SGOAS)! Here is where your school will manage applications, donations and disbursements regarding the Tax Credit Scholarship. Coming mid-May we will be releasing a functionality that will allow schools to invite as many additional users to the system as they would like. To being managing your scholarship applications simply click on the <strong><%= link_to('Applications', applications_school_path(@school)) %></strong> tab above.
								</p>
								<br>
								<h3 class="title">After that...</h3>
								<p>
									Over the course of the next couple of months we will be implementing this new system in installments. You will see additional tabs added at the top of this landing page. Please refer to our email notifications for further information and instructions.
								</p>
								<br>
								<p>
									To learn more about the Institute for Quality Education, visit <a href="http://www.i4qed.org" target="_blank">www.i4qed.org</a>.
								</p>
								<br>
								<p>
									<strong>NOTE:</strong> For the 2015-16 academic year and beyond, IQE will NO LONGER  accept or process paper scholarship applications as we have in previous years. In addition, we WILL NOT be collecting any income verification documentation. At the time a school either submits an application on behalf of a household or approves an application submitted by a household we will request the school to share how the income was verified as well as the desired amount to award the applicant.
								</p>
							</div>

						</div>

					</div>

				</section>

			</div>

		</div>

	</div>

</article>