.form-normal{
	.box-content{
		// wrap the inner contents with color
		&.color{
			background: #F8FAFA;
		}
	}

	&.sign-in{
		.box-content{
			&.color{
				padding: 2em 2.5em;
			}

			hr{
				margin: 1.2em 0;
			}

			.help-actions{
				font-size: .9em;
				font-weight: bold;

				a{
					font-weight: normal;
				}
			}
		}
	}
}

// hack to fix checkbox error on sign up
.form-field{
	&.checkbox-wrap{
		.field_with_errors{
			display: inline;
		}
	}
}

