<article class="profile">

	<%= render 'tab_navigation' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box form form-normal">

					<div class="box-header">
						Actions
					</div>

					<div class="box-content">

						<div class="grid">

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("Create New Application", new_application_household_path(@household), :class => "btn btn-secondary btn-block open-overlay") %>
							</div>

						</div>

					</div>

				</section>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Applications
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-15">
							<col class="w-15">
							<col class="w-40">
							<col class="w-30">
						</colgroup>

						<thead>
							<tr>
								<th>
									Name
								</th>
								<th>
									Age
								</th>
								<th>
									
								</th>
								<th>

								</th>
							</tr>
						</thead>

						<tbody>

						</tbody>

					</table>

				</div>

			</section>

			</div>

		</div>

	</div>

</article>