<article class="profile">

	<%= render 'tab_navigation' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box">

					<div class="box-header">
						Quick Links
					</div>

					<div class="box-content">

						<div class="grid">

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("Add Child", new_household_child_path(@household), :class => "btn btn-secondary btn-block open-overlay") %>
							</div>

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("New Application", new_application_household_path(@household), :class => "btn btn-secondary btn-block") %>
							</div>

						</div>

					</div>

				</section>

				<section class="box">

					<div class="box-header">
						Instructions
					</div>

					<div class="box-content">

						<div class="box-items">

							<div class="box-item">
								<h3 class="title">Getting Started</h3>
								<p>
									Quas illum officiis similique sed excepturi porro omnis fugiat quibusdam totam vitae eum. Cumque eaque sint eius ratione maiores earum. Quis ipsa voluptatem sunt cupiditate occaecati distinctio. Labore magnam dignissimos laudantium architecto quisquam dolores. Asperiores labore ducimus iusto mollitia. Aut veniam quis quia et error voluptate voluptatem eaque. Quaerat numquam maxime deserunt adipisci. Et facilis saepe est consequatur blanditiis quam et accusantium.
								</p>
								<br>
								<h3 class="title">After that..</h3>
								<p>
									Quas illum officiis similique sed excepturi porro omnis fugiat quibusdam totam vitae eum. Cumque eaque sint eius ratione maiores earum. Quis ipsa voluptatem sunt cupiditate occaecati distinctio. Labore magnam dignissimos laudantium architecto quisquam dolores. Asperiores labore ducimus iusto mollitia. Aut veniam quis quia et error voluptate voluptatem eaque. Quaerat numquam maxime deserunt adipisci. Et facilis saepe est consequatur blanditiis quam et accusantium.
								</p>
								<br>
								<p><strong>Questions? Contact <a href="#">someone@i4qed.org</a> or call +1 (800) 542-1899</strong></p>
							</div>

						</div>

					</div>

				</section>

			</div>

		</div>

	</div>

</article>